/* 
#786efe - button 1 lilavo

#f5f8f9 - fon svetlo sivo
#828c94 - text

#404a57 - h1, h2, button 2  
*/

body {
    font-family: Helvetica, sans-serif;
    color: #404a57;
}

.Enterprise {
    background-color: #f5f8f9;
    padding: 0 24px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 960px;
    margin: 60px auto;
}

.Enterprise .info {
    width: 40%;
    padding: 48px 0;
}

.Enterprise .subtitle {
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: normal;
}

.Enterprise .title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: normal;
}

.Enterprise .desc {
    margin-bottom: 20px;
    color: #828c94;
    
}

.Enterprise .btn {
    all: unset;
    border: 1px solid #404a57;
    padding: 12px 18px;
    border-radius: 6px;
    font-weight: bold;
}

.Enterprise .btn.btn-primary {
    border-color: #786efe;
    background-color: #786efe;
    color: white;
    margin-right:  12px;
}

.Enterprise .img{
    width: 30%;

}