
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,h2,h3,h4,h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
}

body{
    font-family: "Poppins", sans-serif;

    color: gray;
}




.section {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 32px;
}

.section .info .title {
    margin-bottom: 32px;

}

.section .info .desc:last-of-type {
    margin-bottom: 70px;

}

.features .feature:not(:last-child){
    margin-bottom: 70px;
}

.section .picture,
.section .info {
    width: 50%;
}

.section .info {
    margin-right: 23px;
}

.features {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.features:not(:nth-last-child(1)):not(:nth-last-child(2)) {
    margin-top: 35px;
}

.features .feature {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 30px;
    
}

.features .feature .feature-icon {
    width: 50px;
}

.features .feature .feature-container .feature-title, 
.features .feature .feature-container .feature-desc {
    margin: 0px;
}

